<!DOCTYPE html>
<html>
  <head>
    <title>Libreria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
<%= current_user.email %>
<a href="<%= destroy_user_session_path %>"
data-method="delete">
Cerrar Sesión
</a>
    <% else %>
    <a href="<%= new_user_session_path %>">
    Abrir Sesión
</a>
<a href="<%= new_user_registration_path %>">
    <p>Registrarse</p>
</a>
<% end %>
    <%= yield %>
  </body>
</html>
